﻿<section>
    <h2 class="page-title" data-bind="text: title"></h2>
</section>

<div class="container">
    <button class="btn" data-bind="click: sendMessageAction">Send a Hello to All clients</button>
    <label data-bind="text: messageReceived">No Messages Recieved</label>
</div>